h1(style={color:"#3b5998", 'font-weight':"bold"}) FACEBOOK
p(style={color:"#3b5998"}) fans: #{fans}
p These are all the metrics currently available
.list-group
    a(href="/facebook/engagement" class="list-group-item list-group-item-action" aria-current="true") Page Engagement
    a(href="/facebook/page-posts" class="list-group-item list-group-item-action") Page Posts  
    a(href="/facebook/page-posts-engagements" class="list-group-item list-group-item-action") Page Posts Engagement
    a(href="/facebook/page-posts-reactions" class="list-group-item list-group-item-action") Page Posts Reactions 
    a(href="/facebook/page-users-demographics" class="list-group-item list-group-item-action") Page User Demographics   
    a(href="/facebook/page-videos-views" class="list-group-item list-group-item-action") Page Video Views
    a(href="/facebook/page-videos-posts" class="list-group-item list-group-item-action") Page Video Posts