h1(style={color:"#e56969", 'font-weight':"bold"}) INSTAGRAM
p(style={color:"#e56969"}) followers: #{followers}
p These are all the metrics currently available
.list-group
    a(href="#" class="list-group-item list-group-item-action" aria-current="true") The current link item
    a(href="#" class="list-group-item list-group-item-action") second link item  
    a(href="#" class="list-group-item list-group-item-action") third link item 
    a(href="#" class="list-group-item list-group-item-action") fourth link item   