h1(style={color:"#0077B5", 'font-weight':"bold"}) LINKEDIN
p(style={color:"#0077B5"}) relations: #{relations}
p These are all the metrics currently available
.list-group
    a(href="#" class="list-group-item list-group-item-action" aria-current="true") The current link item
    a(href="#" class="list-group-item list-group-item-action") second link item  
    a(href="#" class="list-group-item list-group-item-action") third link item 
    a(href="#" class="list-group-item list-group-item-action") fourth link item   