extends layout

block content
    include ./includes/navbar
    .container
        .row
            .col-sm
            if pagePosts
                table(class="table table-sm table-hover")
                    thead
                        tr
                            th(scope="col") 
                            th(scope="col") Title 
                            th(scope="col") Value
                            th(scope="col") Description 
                    tbody
                        each obj, index in pagePosts
                            tr
                                th(scope="row")
                                td= obj.title
                                td= obj.values[0].value.toLocaleString()
                                td= obj.description
            else
                h2 Sorry, no data available :_(